<div class="container">
    <div class="info-container">
        <h1 class="header">Basic Information</h1>
        <div class="text-container">
            <span>At The Bird Club, we want to provide students an opportunity to get out, enjoy nature, and learn about birds. 
                We do this by offering field trips, volunteer activities, and more! We are a campus chapter of the National Audubon Society. 
                We welcome all levels of experience, from those who are simply curious to experienced birders.
            </span>
        </div>
    </div>  

    <div class="org-container">
        <h1 class="header">Organization Information</h1>
        <div class="org-info">
            <h2>When do elections happen?</h2>
            <span>End of the fall semester.</span>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #EDE8DC;
        overflow: hidden;
    }

    .info-container {
        margin-top: 1%;
        background-color: #B6B3AA;
        width: 90%;
        height: fit-content;
    }
    
    .header {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.5%;
    }
    
    .text-container {
        background-color: #E0DBD0;
        size: 2vw;
        margin: 0;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }

    .org-container {
        width: 90%;
        margin-top: 2%;
        background-color: #B6B3AA;
    }

    .org-info {
        background-color: #D2CEC3;
        width: fit-content;
        margin: 0;
        margin-left: 4%;
    }
    
</style>