<footer class="footer">
    <div class="layer-1">
        <img src="/favicon.jpg" class="logo">        
        
        <a href="/contactus">
            <button class="button">
                <span class="button-content">Contact Us</span>
            </button>
        </a>

        <div class="GOAS-logo">
            <a href="https://www.greaterozarksaudubon.org/" target="_blank">
                <img src="/GOAS-logo.png" class="GOAS-img"/>
            </a>
        </div>
    </div>
    <div class="layer-2">
        <div class="copyright">
            <p>&copy; 2025 The Bird Club MSU. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #111;
    }

    .layer-1 {
        display: flex;
        justify-content: space-between;
    }

    .layer-2 {
        display: flex;
        justify-content: center;
    }

    .logo {
        max-height: 5%;
        width: 5%;
        border-radius: 50%;
    }

    .copyright {
        align-self: center;
    }

    .GOAS-logo {
        width: 5%;
        height: 5%;
    }

    .GOAS-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .layer-2 {
        justify-content: center;
    }

    /* From Uiverse.io by Madflows */ 
    .button {
        margin-top: 7%;
        position: relative;
        overflow: hidden;
        height: 3rem;
        padding: 0 2rem;
        border-radius: 1.5rem;
        background: #3d3a4e;
        background-size: 400%;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .button:hover::before {
        transform: scaleX(1);
    }

    .button-content {
        position: relative;
        z-index: 1;
    }

    .button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%
        );
        transition: all 0.475s;
    }


</style>