<footer class="footer">
    <img src="/favicon.jpg" class="logo">
    <div class="copyright">
        <p>&copy; 2025 The Bird Club MSU. All Rights Reserved.</p>
    </div>
    <img src="/GOAS-logo.png" class="GOAS-logo" />
</footer>

<style>
    .footer {
        display: flex;
        justify-content: space-between;
        color: white;
        background-color: #111;
    }

    .logo {
        max-height: 5%;
        width: 5%;
        border-radius: 50%;
    }

    .copyright {
        align-self: center;
    }

    .GOAS-logo {
        width: 5%;
        height: auto;
    }
</style>