<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <p>Hello world!</p>
        </div>
    </body>
</html>

<style>
    .container {
        height: 90%;
        width: 100%;
    }
</style>