---
    import Carousel from './Carousel.astro'
---

<body>
    <div class="container">
        <Carousel />
    </div>
</body>

<style>
    .container {
        padding: 2%;
        background-color: #F5F5F5;
    }
</style>